.allWorkContainer {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(1, 340px);
  place-content: center center;
  gap: 40px;
  /* height: 100vh; */
  font-size: 16px;
  /* background-color: #e8e8e8; */
  padding: 30px 50px;
  place-items: center center;
}

.work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.work img {
  border-radius: 8px;
}

.workTitle {
  color: #434343;
}
